{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>
    <ul>
    {% for object in object_list %}
    
        <li>
            <h3><a href="{% url 'detail'  object.id  %}">[{{object.user}}] </a></h3>
            <p><b>Display Name :</b> {{object.display_name}} </p>
            <p><b>Profile Type :</b> {{object.profile_type}} | <b>Location :</b> {{object.location}} </p>
            <p><b>Biography :</b> {{object.biography}}</p>
            <p>
                <a href= "{% url 'update'  object.id  %}">[Edit] </a> 
                <a href= "{% url 'delete'  object.id  %}">[Delete] </a> 
            </p>

        
        </li>
    {% empty %}
        <li>No articles yet.</li>
    {% endfor %}
    </ul>
</p>


{% endblock %}
    